data/polygons*
tmp

straight_skeleton/build
straight_skeleton/gradle
straight_skeleton/.gradle
straight_skeleton/.gradletasknamecache

straight_skeleton/lib/*.jar
straight_skeleton/tmp

doc/*.pdf
test-201*/

tags
TAGS
GTAGS
GRTAGS
GPATH

.gradle
.meghanada

.dir-locals.el
.idea

*~
*.swp
.\#*

