data/polygons*
out
tmp

campskeleton
jutils

*.xz

**/build
**/gradle
**/.gradle
**/.gradletasknamecache

**/lib/*.jar
**/tmp

doc/*.pdf
test-201*/

tags
TAGS
GTAGS
GRTAGS
GPATH

.gradle
.meghanada

.dir-locals.el
.idea

*.iml
*~
*.swp
.\#*

